:root {
  --gray0: #888;
  --gray1: #aaa;
  --projectrs-gaps: 10px;
  --perfil-img-size: 150px;
  --perfil-img-margin: calc(var(--perfil-img-size) * 0.05);
}

h1, h2, h3, h4, p {
  margin: 0px;
}

h3 {
  margin: 0 0 10px 0;
}

.icon {
  font-size: 18pt;
}

.link {
  color: var(--gray0);
}

.bold-text {
  font-weight: bold;
}

.gray-text {
  color: var(--gray0);
}

.Curriculum-vitae {
  margin: auto;
  max-width: 580px;
}

.Header {
  display: flex;
}

.Header .info {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.Header-img-box {
  max-width: var(--perfil-img-size);
  max-height: var(--perfil-img-size);
  margin: var(--perfil-img-margin);
  border-radius: var(--perfil-img-margin);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.Header-img {
  width: 100%;
}

.Header .info .basic {
  padding: 12px 0 0 12px;
}

.Header .info .contact {
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;
}

.Experience {
  margin: 10px 0px 5px 0px;
}

.Tag {
  margin: 2px;
  border: 1px solid var(--gray1);
  border-radius: 0.7em;
  padding: 0px 8px;
}

.Skill {
  padding: 2px;
  display: flex;
  align-items: center;
}

.Skill .icon {
  margin: 0 10px 0 0;
}

.ProgressSkill {
  padding: 8px;
}

.ProgressSkill div.icon-name {
  display: flex;
  align-items: center;
}

.ProgressSkill div.icon-name * {
  margin-right: 4px;
}

.Skills .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Project {
  border: 1px solid var(--gray1);
  border-radius: 10px;
  padding: var(--projectrs-gaps);
}

.Project a {
  width: 100%;
  display: block;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.Projects .grid {
  margin: 10px 0;
  display: grid;
  grid-gap: var(--projectrs-gaps);
  grid-template-columns:
    calc(50% - var(--projectrs-gaps) / 2)
    calc(50% - var(--projectrs-gaps) / 2);
}
